@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');

body{
	background-color: #89c4f4;
}
header{
	margin:0 auto;
	padding: 2em;
	text-align: center;
	font-size: 2.5em;
	font-family:'Roboto Slab', serif;
	color: #2c3e50;
}

p{	
	margin:0 auto;
	padding:1.5em;
	text-align: justify;
	width:70%;
	font-family: 'Roboto Slab', serif;
	font-size:1.2em;
	color:#22313f;
}
.mainbody:focus{
	outline: none;
}
header:focus{
	outline: none;
}

.stuff{
margin-top: 20px;
}
